/*
 *
  Example Style Sheet for Pawfaliki  
 *
 */
/* wiki link */

/* external link */
a.external
{
	color: #77e;
background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=") no-repeat scroll right center transparent;
	padding-right: 13px;
}
a.external:hover
{
	color: black;
	background-color: #77e;
}
/* page title - span.wiki_header */
span.wiki_header
{
	font-size: 24px;
	font-weight: bold;   
}

/* error messages - p.error */
p.error
{
	font-weight: bold;
	text-align: center;
	padding: 3px;
	border-style: solid;
	border-width: 1px;
	color: red;
}

/* page container */
table.wiki_body_container
{	
 	border-style: none;
 	padding: 0px;
 	padding-left: 2px;
 	padding-right: 2px;
}

/* wiki syntax */
table.wikisyntax
{
	border-style: solid;
	border-width: 1px;
	width: 100%;
	border-color: #666666;
}

/* color for opional syntax values */
span.optionalvalue
{
	color: #0000FF;
}

/* page contents */
.wiki_body
{	background-color: #222;
	display: block;
	border-radius: 10px;
	padding: 20px;
	text-align: justify;
}

.wiki_body img
{
	max-width: 900px;
	border: 0;
}

h2
{
	font-size: 120%;
	margin: 0;
	padding: 0;
	border-bottom: solid 1px #aaa;
}
/* general bits & bobs */
body
{
	background-color: #111;
	color: white; 
	font-family: Helvetica, sans-serif;
	font-size: 14pt;  
	margin: 0 auto;
	max-width: 900px;
}

/* horizontal rule */
hr
{  
	border-style: none;
	border-top-style: solid;
	border-width: 4px;
	border-color: #666666;
}

/* link */
a
{
	text-decoration: none;  
	color: goldenrod;
}

/* link mouse-over */
a:hover
{
	color: black;
	background: goldenrod;
}

/* active link */
a:active
{
	color: goldenrod;
}

/* input */
input
{	
	font-family: courier-new, monospace;
	font-size: 12px; 
	color: white;
	background: #444;
	border: solid 1px #666;
	border-radius: 5px;
	padding: 1px;
	cursor: pointer;
}

/* mouse-over input */
input:hover
{	
	color: black;
	background: lime;
}

/* active input */
input:active
{	
	color: green;
}

/* password entry */
input.pass
{
	font-family: courier-new, monospace;
	border-width: 0.5px;
	border-style: solid;
	border-color: white;
	color: lime;
}  

/* mouse-over password entry */
input.pass:hover
{
	color: lime;
	background: black;
}

/* file upload entry */
input.fileupload
{
	font-family: courier-new, monospace;
	font-size: 12px;
	color: lime;
	padding: 0px;
	background: black;
}

/* main text area */
textarea
{	
	font: 14pt Helvetica;
	color: white;
	background: #0A0A0A;
	padding: 4px;
	border-style: none; 
	height: 320px;
	width: 99%;
	border-radius: 10px;
}
