
html {
    background-color: #F7F6F1;
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

body, .body {
    font-family: "Times New Roman", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16pt;
}

input, textarea {
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-size: 14pt;
    padding: 4px 5px;
}

nav, section {
    display: block;
    clear: both;
}

nav ol, nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0;
    float: left;
}

nav li.text-align-right {
    float: right;
}

nav li a {
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
    height: 30px;
}

section article header h2 {
    padding-top: 10px;
}

footer abbr, footer address {
    display: inline;
    font-style: normal;
    text-decoration: none;
}
